.container {
  max-width: 1360px;
  margin-inline: auto;
  padding-inline: 12px;
}
.flx {
  display: flex;
  align-items: center;
}
.flbx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tr {
  transition: 300ms;
}

/* styles/globals.css or your global stylesheet */

.medusa-scroll {
  overflow-y: auto;
  scrollbar-gutter: stable overlay; /* Prevents layout shift */
  position: relative;
}

.medusa-scroll::-webkit-scrollbar {
  width: 8px;
}

.medusa-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.medusa-scroll::-webkit-scrollbar-thumb {
  background: #bfc5cb;
  border-radius: 8px;
}

.medusa-scroll::-webkit-scrollbar-button {
  display: none;
}

.hover-btn {
  display: flex;
  gap: 0.625rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 0.75rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.hover-btn:hover {
  background-color: rgba(59, 130, 246, 0.1) !important;
}

@media (prefers-color-scheme: dark) {
  .hover-btn:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.6) !important;
  opacity: 1 !important;
  width: 8px !important;
  height: 8px !important;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
.swiper-wrapper {
  padding-bottom: 48px !important;
}
.custom-next,
.custom-prev {
  user-select: none;
  transform: translateY(-24px);
}
